@import url(site-fonts.css);
@import url(site-icon-animation.css);
@import url(site-pagination.css);

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* ============================ */

.fullWidth {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

textarea {
    resize: none;
}

html, body {
	height: 100%;
}

.site-container {
	display: table;
	width:100%;
	height: 100%;
}

header{
	display: table-row;
	height: 1px;
}

.site-content{
	display: table-row;
	height: 1px;
	height: auto;
}

footer{
	display: table-row;
	height: 1px;
}

.site-content-padding{
	padding:40px 0;	
}


/* ============================ */

.header-form-box{
	background-color:#0a3697;
	width:100%;
}

.header-form-box .logo-form-left{
	float:left;
	width:50%;
	padding:3px 10px;
}

.header-form-box .logo-form-left img{
	max-width:80px;
	display:block;
}

.header-form-box .logo-form-right{
	float:right;
	text-align:right;
	width:50%;
	padding:9px 10px 0 10px;
}

.header-form-box .logo-form-right a{
	font-family: 'PTSansNarrow-Regular';
	font-size:1.1em;
	line-height:1.1em;
	color:#FFFFFF;
	text-decoration:underline;
}



.footer-form-box{
	background-color:#0a3697;
	width:100%;
	padding:30px 0;
}

.footer-form-box .logo-form-left{
	float:left;
	width:50%;
	padding:0;
}

.footer-form-box .logo-form-left img{
	min-width:80px;
	max-width:288px;
	width:100%;
	display:block;
}

.footer-form-box .logo-form-right{
	float:right;
	width:50%;
	padding:30px 0;
}

.footer-form-box .logo-form-right img{
	min-width:80px;
	max-width:288px;
	width:100%;
	display:block;
	float:right;
}


/* ============================ */

.form-title{
	font-family: 'PTSansNarrow-Regular';
	font-size:1.3em;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	
}

.form-subtitle{
	font-family: 'PTSansNarrow-Regular';
	font-size:1.1em;
	padding-top:5px;
	padding-bottom:5px;
}

.form-label{
	font-family: 'PTSansNarrow-Regular';	
	color:#000000;
}

.form-label-error{
	font-family: 'PTSansNarrow-Regular';	
	color:#CB0003;
}

.form-control{
	font-family: 'PTSansNarrow-Regular';
	border:1px #CACACA solid;
	padding:5px 10px;
	margin-bottom:10px;
}

.form-control-error{
	font-family: 'PTSansNarrow-Regular';
	border:1px #CB0003 solid;
	padding:5px 10px;
	margin-bottom:10px;
	color:#CB0003;
}

#form-logo-reclamaciones img{
	/*min-width:80px;*/
	max-width:350px;
	width:100%;
}

#form-empresa-top{
	font-family: 'PTSansNarrow-Regular';
	width:100%;
	text-align:right;
	font-size:1em;
	line-height:1em;
	padding-top:4px;
}

#form-empresa-middle{
	font-family: 'PTSansNarrow-Regular';
	width:100%;
	text-align:right;
	font-size:0.8em;
	line-height:0.8em;
	padding:3px 0 5px 0;
}

#form-empresa-bottom{
	font-family: 'PTSansNarrow-Regular';
	width:100%;
	text-align:right;
	font-size:0.7em;
	line-height:0.7em;
}

.form-header-block{
	border-bottom:1px #CACACA solid;	
	padding-bottom:20px;
	margin-bottom:20px;
}

select:disabled{background-color:transparent;}

.button-div{
	width:100%;
	max-width:215px;
	min-width:100px;
	padding:10px 0;
	text-align:center;
	
	font-family: 'PTSansNarrow-Regular';
	font-size:1.2em;
	line-height:1.2em;
	background-color:#0a3697;
	color:#FFFFFF	
}


#search-div{
	padding-bottom:30px;
}

.search-div-delimeter{
	border-bottom:1px #D7D7D7 solid;
	margin-bottom:30px;
}

.search-label{
	font-family: 'PTSansNarrow-Regular';
	font-size:1.4em;
	line-height:1em;
	font-weight:bold;
	padding-bottom:5px;
}

.search-label-error{
	font-family: 'PTSansNarrow-Regular';
	font-size:1.4em;
	line-height:1em;
	font-weight:bold;
	padding-bottom:5px;
	color:#CB0003;
}

.search-text{
	width:100%;
	font-size:1.3em;
	line-height:1.3em;
	
}

.search-text-error{
	width:100%;
	font-size:1.3em;
	line-height:1.3em;
	border:1px #CB0003 solid;
	color:#CB0003;
}

.search-button-div{
	width:100%;
	padding:2px 0;
	max-width:150px;
	min-width:100px;
	text-align:center;
	border:none;
	
	font-family: 'PTSansNarrow-Regular';
	font-size:1.3em;
	line-height:1.1em;
	background-color:#0a3697;
	color:#FFFFFF	
}

.search-padding-bottom{
	padding-bottom:20px;
}

#msg_exito{
	margin:15px 0;
	display:none;
	color:#0a3697;
	font-family: 'PTSansNarrow-Regular';
	font-size:1.4em;
	line-height:1em;
	font-weight:bold;
}

#msg_error{
	margin:15px 0;
	display:none;
	color:#CB0003;
	font-family: 'PTSansNarrow-Regular';
	font-size:1.1em;
	line-height:1em;
}

#msg_error_captcha{
	margin:15px 0;
	display:none;
	color:#CB0003;
	font-family: 'PTSansNarrow-Regular';
	font-size:1.1em;
	line-height:1em;
}

#msg_enviar{
	display:none;
	margin:15px 0;
	width:100%;
}

#msg_enviar .image-right{
	float:left;
	margin-right:5px;
}

#msg_enviar .text-right{
	float:left;
	color:#0a3697;
	padding-top:10px;
	font-family: 'PTSansNarrow-Regular';
	font-size:1.1em;
	line-height:1em;
}

/* ============================ */

.header-box{
	background-color:#0a3697;
	text-align:right;
	padding-top:10px;
	width:100%;
}

.header-box .upper-content{
	width:100%;
}

.header-box .upper-content .logo-left{
	float:left;
}

.header-box .upper-content .logo-left img{
	width:100%;
	display:block;
}

.header-box .lower-content{
	width:100%;
}

/* ============================ */

.footer-box-mobile{
	background-color:#0a3697;
	width:100%;
	text-align:center;
}

.footer-box-mobile .logo-content img{
	width:100%;
}

.footer-box-mobile .options-content{
	display:inline-block;
	margin:0 auto;
}

.footer-box-mobile .options-content .option{
	float:right;
	display:inline-block;
}

.footer-box-mobile .options-content .option a{
	color:#FFFFFF;	
}

/* ============================ */

.footer-box{
	background-color:#0a3697;
}

.footer-box .texto{
	width:100%;
	text-align:center;
	color:#FFFFFF;
}

.footer-box .logo-left{
	float:left;
}

.footer-box .logo-left img{
	max-width:130px;
	width:100%;
}

.footer-box .options-content{
	float:right;
	font-family: 'PTSansNarrow-Regular';
}

.footer-box .options-content .option-right{
	float:right;
	color:#FFFFFF;
	display:inline-block;
}

.footer-box .options-content .divider-right{
	float:right;
	font-family: 'PTSansNarrow-Regular';
	color:#FFFFFF;
	display:inline-block;
}

.footer-box .options-content .option-right a{
	color:#FFFFFF;
}

.footer-box .options-content .option-right a:hover{
	color:#FFFFFF;
}

/* ============================ */

.session-info{
	float:right;
	font-family: 'PTSansNarrow-Regular';
}

.session-info .line-top{
	width:100%;
	color:#FDFDFD;
}

.session-info .line-middle{
	width:100%;
	color:#FDFDFD;
}

.session-info .line-bottom{
	width:100%;
	color:#FDFDFD;
}

/* ============================ */

.site-menu{
	background-color:#0B2A56;
}

.site-menu .option-left{
	float:left;
	font-family: 'PTSansNarrow-Regular';
	display:inline-block;
}

.site-menu .option-left a{
	color:#FFFFFF;
}

.site-menu .option-left a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

.site-menu .divider-left{
	float:left;
	font-family: 'PTSansNarrow-Regular';
	color:#FFFFFF;
	display:inline-block;
}

.site-menu .option-right{
	float:right;
	font-family: 'PTSansNarrow-Regular';
	color:#FFFFFF;
	display:inline-block;
}

.site-menu .option-right a{
	color:#FFFFFF;
}

.site-menu .option-right a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

/* ============================ */

.login-box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

.login-box .logo-content{
	width:100%;
}

.login-box .logo-content img{
	width:100%;	
}

.login-box .line-content{
	width:100%;
}

.login-box .line-content .label-content{
	width:100%;
	font-weight:bold;
	color:#000000;
}

.login-box .line-content .control-content{
	width:100%;
	color:#000000;	
}

.login-box .button-line{
	background-color:#0a3697;
	width:100%;
	cursor:pointer;
}

.login-box .button-line .text-content{
	width:100%;
	font-weight:bold;
	text-align:center;
	color:#FFFFFF;
}

.login-box #message-line{
	width:100%;
}

#validating-content{
	display:none;
	width:100%;
	text-align:center;
	color:#0a3697;
}

#no-user-content{
	display:none;
	width:100%;
	text-align:center;
	color:#9a302b;
}

#error-content{
	display:none;
	width:100%;
	text-align:center;
	color:#9a302b;
}

.content-div{
	display:inline-block;
}

#validating-content .icon-div{
	display:inline-block;
	float:left;
}

#validating-content .text-div{
	display:inline-block;
	float:left;
}

#no-user-content .icon-div{
	display:inline-block;
	float:left;
}

#no-user-content .text-div{
	display:inline-block;
	float:left;
}

#error-content .icon-div{
	display:inline-block;
	float:left;
}

#error-content .text-div{
	display:inline-block;
	float:left;
}


/* ============================ */


#noPublicationsPage{
	display:none;	
}

.no-publications-page{
	width:100%;
	text-align:center;
}

.no-publications-page .content-div{
	display:inline-block;
	margin:0 auto;
}

.no-publications-page .icon-div{
	float:left;
}

.no-publications-page .icon-div img{
	width:100%;
}

.no-publications-page .text-div{
	float:left;
	display:inline-block;
	font-family: 'PTSansNarrow-Regular';
	color:#838383;
}


.publication-preview-box{
	width:100%;
}

.publication-preview-box .upper-content{
	width:100%;	
	font-family: 'PTSansNarrow-Regular';
	color:#1f140f;
	background-color:#5983be;
	/*background-color:#e4e3e2;*/
}

.publication-preview-box .upper-content .options-content{
	float:right;
	display:inline-block;
}

.publication-preview-box .upper-content .date-content{
	float:left;
	display:inline-block;
	/*color:#818181;*/
	color:#ffffff;
}

.publication-preview-box .upper-content .option-content{
	float:right;
	font-weight:bold;
	display:inline-block;
	/*color:#818181;*/
	color:#ffffff;
}

.publication-preview-box .upper-content .option-content a{
	/*color:#818181;*/
	color:#ffffff;
	text-decoration:underline;
}

.publication-preview-box .upper-content .options-message-content{
	float:right;
	display:inline-block;
	display:none;
}

.publication-preview-box .upper-content .options-message-content .icon-content{
	float:right;
}

.publication-preview-box .upper-content .options-message-content .message-content{
	float:right;
	display:inline-block;
}

.publication-preview-box .upper-content .options-result-content{
	float:right;
	display:inline-block;
	display:none;
}

.publication-preview-box .upper-content .options-result-content .result-content{
	float:right;
	display:inline-block;
}


.publication-preview-box .upper-content .options-error-content{
	float:right;
	display:inline-block;
	display:none;
}

.publication-preview-box .upper-content .options-error-content .result-content{
	float:right;
	display:inline-block;
}

.publication-preview-box .upper-content .option-content .btnReenviar{
	cursor:pointer;	
}

.publication-preview-box .upper-content .options-error-content .btnReenviar{
	cursor:pointer;	
}

.publication-preview-box .upper-content .option-divider{
	float:right;
	font-weight:bold;
	display:inline-block;
	/*color:#818181;*/
	color:#ffffff;
}

.publication-preview-box .post-content{
	width:100%;
	/*background-color:#f0f0ef;*/
	background-color:#e7edf7;
}

.publication-preview-box .post-content .title-content{
	width:100%;
	font-family: 'PTSansNarrow-Regular';
	padding:0;
}

.publication-preview-box .post-content .title-content a{
	color:#1f140f;
	text-decoration:underline;
}

.publication-preview-box .post-content .title-content .title-disabled{
	color:#6b5949;
	text-decoration:underline;
	display:none;
}


.publication-preview-box .post-content .subtitle-content{
	width:100%;
	font-family: 'PTSansNarrow-Regular';
}



.publication-preview-box .post-content .extract-content{
	width:100%;
	font-family: 'PTSansNarrow-Regular';
	color:#838383;
}

/* ========================================================== */

.login-textbox{
	border:#c6c6c6 1px solid;
	width:100%;
}

.form-textbox{
	border:none;
	width:100%;
	padding:0;
	margin:0;
	background-color:transparent;
}

.form-select{
	border:none;
	background-color:transparent;
	width:100%;
	padding:0;
	margin:0;
}

.form-select:hover{
	background-color:transparent;
}

.form-textarea{
	border:none;
	width:100%;
}

@media only screen and (min-width: 320px) and (max-width: 399px) {

	.header-box .upper-content .logo-left{
		width:95px;
		margin:5px 0px 15px 5px;
	}
	
	.header-box .upper-content .logo-right{
		width:120px;
		margin-right:5px;
		margin-bottom:10px;
	}
	
	/* ========================================================== */
	
	.footer-box{
		display:none;
	}
	
	.footer-box-mobile{
		display:block;
		padding-top:15px;
		padding-bottom:15px;
	}
	
	.footer-box-mobile .logo-content{
		width:150px;
		margin:0 auto 10px auto;
	}
	
	.footer-box-mobile .options-content .option{
		font-size:0.9em;
		padding-left:7px;
		padding-right:7px;
	}
	
	/* ========================================================== */
	
	.session-info{
		/*background-color:#A8FF9A;*/
		width:63%;
		margin-top:10px;
		margin-right:4px;
	}
	
	.session-info .line-top{
		font-size:0.9em;
		line-height:1em;
	}
	
	.session-info .line-middle{
		font-size:1.1em;
		line-height:1em;
	}
	
	.session-info .line-bottom{
		font-size:1em;
		line-height:1em;
	}
	
	/* ========================================================== */
	
	.site-menu .option-left{
		font-size:1em;
		padding-left:10px;
		padding-right:10px;
	}
	
	.site-menu .divider-left{
		font-size:1em;
	}
	
	.site-menu .option-right{
		font-size:1em;
		padding-left:10px;
		padding-right:10px;
	}
	
	/* ========================================================== */
	
	.login-box{
		width:230px;
	}
	
	.login-box .line-content{
		margin-bottom:10px;	
	}
	
	.login-box .line-content .label-content{
		font-size:1em;
		line-height:0.9em;
		padding-bottom:3px;
	}
	
	.login-box .logo-content{
		margin-bottom:20px;
	}
	
	.login-box .button-line{
		padding-top:7px;
		padding-bottom:7px;
	}
	
	.login-box .button-line .text-content{
		font-size:0.9em;
		line-height:1em;
	}
	
	.login-box #message-line{
		height:60px;
	}
	
	#validating-content{
		margin-top:20px;
	}
	
	#no-user-content{
		margin-top:20px;
	}
	
	#error-content{
		margin-top:20px;
	}
	
	#validating-content .icon-div{
		font-size:1.3em;
		line-height:1.1em;
		margin-right:7px;
	}
	
	#validating-content .text-div{
		padding-top:4px;
		font-size:1em;
		line-height:1em;
	}
	
	#no-user-content .icon-div{
		font-size:1.4em;
		line-height:1.1em;
		margin-right:8px;
	}
	
	#no-user-content .text-div{
		padding-top:5px;
		font-size:1em;
		line-height:1em;
	}
	
	#error-content .icon-div{
		/*font-size:1.4em;
		line-height:1.1em;
		margin-right:5px;*/
		display:none;
	}
	
	#error-content .text-div{
		padding-top:2px;
		font-size:1em;
		line-height:1em;
	}
	
	/* ========================================================== */
	
	.no-publications-page{
		padding:20px 0 40px 0;
	}
	
	.no-publications-page .icon-div{
		width:30px;
		margin-right:5px;
	}
	
	.no-publications-page .text-div{
		padding:3px 0 0 0;
		font-size:1em;
	}
	
	/* ========================================================== */
	
	.publication-preview-box{
		margin-bottom:20px;
	}
	
	.publication-preview-box .upper-content{
		font-size:0.9em;
	}
	
	.publication-preview-box .upper-content .date-content{
		padding-left:10px;
	}
	
	.publication-preview-box .upper-content .option-content{
		padding-left:10px;
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content .icon-content{
		width:20px;
		margin-right:1px;
	}
	
	.publication-preview-box .upper-content .options-result-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-error-content{
		padding-right:10px;
	}
	
	.publication-preview-box .post-content{
		padding:15px 20px 10px 20px;
	}
	
	.publication-preview-box .post-content .title-content{
		font-size:1.2em;
		line-height:1em;
	}
	
	.publication-preview-box .post-content .subtitle-content{
		font-size:1em;
		line-height:1em;
		padding:5px 0 0 0;
	}
	
	.publication-preview-box .post-content .extract-content{
		font-size:1em;
		line-height:1em;
		padding:5px 0 0 0;	
	}
	
	/* ========================================================== */
	
	.login-textbox{
		padding-top:5px;
		padding-bottom:5px;
		font-size:0.9em;
		line-height:1em;
	}
	
	.form-textbox{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.form-textarea{
		padding-top:10px;
		padding-bottom:10px;
	}

}

@media only screen and (min-width:400px) and (max-width: 640px) {

	.header-box .upper-content .logo-left{
		width:110px;
		margin:10px 10px 20px 10px;
		/*background-color:#06FF17;*/
	}
	
	.header-box .upper-content .logo-right{
		width:180px;
		margin-right:5px;
		margin-bottom:10px;
	}
	
	/* ========================================================== */
	
	.footer-box{
		display:none;
	}
	
	.footer-box-mobile{
		display:block;
		padding-top:15px;
		padding-bottom:15px;
	}
	
	.footer-box-mobile .logo-content{
		width:150px;
		margin:0 auto 10px auto;
	}
	
	.footer-box-mobile .options-content .option{
		font-size:1em;
		padding-left:15px;
		padding-right:15px;
	}
	
	/* ========================================================== */
	
	.session-info{
		width:65%;
		margin-top:12px;
		margin-right:10px;
	}
	
	.session-info .line-top{
		font-size:1.1em;
		line-height:1em;
	}
	
	.session-info .line-middle{
		font-size:1.4em;
		line-height:1em;
	}
	
	.session-info .line-bottom{
		font-size:1.2em;
		line-height:1em;
	}
	
	/* ========================================================== */
	
	.site-menu .option-left{
		font-size:1.1em;
		padding-left:10px;
		padding-right:10px;
	}
	
	.site-menu .divider-left{
		font-size:1.1em;
	}
	
	.site-menu .option-right{
		font-size:1.1em;
		padding-left:10px;
		padding-right:10px;
	}
	
	/* ========================================================== */
	
	.login-box{
		width:250px;
	}
	
	.login-box .line-content{
		margin-bottom:10px;	
	}
	
	.login-box .line-content .label-content{
		font-size:1em;
		line-height:1.1em;
		padding-bottom:3px;
	}
	
	.login-box .logo-content{
		margin-bottom:20px;
	}
	
	.login-box .button-line{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.login-box .button-line .text-content{
		font-size:1em;
		line-height:1.1em;
	}
	
	.login-box #message-line{
		height:60px;
	}
	
	
	#validating-content{
		margin-top:20px;
	}
	
	#no-user-content{
		margin-top:20px;
	}
	
	#error-content{
		margin-top:20px;
	}
	
	#validating-content .icon-div{
		font-size:1.3em;
		line-height:1.1em;
		margin-right:7px;
	}
	
	#validating-content .text-div{
		padding-top:4px;
		font-size:1em;
		line-height:1em;
	}
	
	#no-user-content .icon-div{
		font-size:1.4em;
		line-height:1.1em;
		margin-right:8px;
	}
	
	#no-user-content .text-div{
		padding-top:5px;
		font-size:1em;
		line-height:1em;
	}
	
	#error-content .icon-div{
		/*font-size:1.4em;
		line-height:1.1em;
		margin-right:5px;*/
		display:none;
	}
	
	#error-content .text-div{
		padding-top:2px;
		font-size:1em;
		line-height:1em;
	}
	
	/* ========================================================== */
	
	.no-publications-page{
		padding:20px 0 40px 0;
	}
	
	.no-publications-page .icon-div{
		width:40px;
		margin-right:10px;
	}
	
	.no-publications-page .text-div{
		padding:5px 0 0 0;
		font-size:1.2em;
	}
	
	/* ========================================================== */
	
	.publication-preview-box{
		margin-bottom:20px;
	}
	
	.publication-preview-box .upper-content{
		font-size:1em;
	}
	
	.publication-preview-box .upper-content .date-content{
		padding-left:10px;
	}
	
	.publication-preview-box .upper-content .option-content{
		padding-left:10px;
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content .icon-content{
		width:20px;
		margin-right:1px;
	}
	
	.publication-preview-box .upper-content .options-result-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-error-content{
		padding-right:10px;
	}
	
	.publication-preview-box .post-content{
		padding:15px 20px 10px 20px;
	}
	
	.publication-preview-box .post-content .title-content{
		font-size:1.5em;
		line-height:1em;
	}
	
	.publication-preview-box .post-content .subtitle-content{
		font-size:1.1em;
		line-height:1em;
		padding:5px 0 0 0;
	}
	
	.publication-preview-box .post-content .extract-content{
		font-size:1.1em;
		line-height:1em;
		padding:5px 0 0 0;	
	}
	
	/* ========================================================== */
	
	.login-textbox{
		padding-top:2px;
		padding-bottom:2px;
	}
	
	.form-textbox{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.form-textarea{
		padding-top:10px;
		padding-bottom:10px;
	}

}

@media only screen and (min-width: 40.063em) { /* min-width 641px, medium screens [TABLETS] */
	
	.header-box .upper-content .logo-left{
		width:130px;
		margin:10px 20px 20px 20px;
		/*background-color:#558AFF;*/
	}
	
	.header-box .upper-content .logo-right{
		width:220px;
		margin-right:20px;
		margin-bottom:10px;
	}
	
	/* ========================================================== */
	
	.footer-box{
		display:block;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	.footer-box .texto{
		font-size:1em;
		line-height:1.1em;
		padding:20px 0;
	}
	
	.footer-box .logo-left{
		width:160px;
		margin:10px 20px;
	}
	
	.footer-box .options-content{
		width:65%;
		margin-top:20px;
		margin-right:20px;
	}
	
	.footer-box .options-content .option-right{
		font-size:1.45em;
		padding-left:20px;
		padding-right:20px;
	}
	
	.footer-box .options-content .divider-right{
		font-size:1.2em;
	}
	
	.footer-box-mobile{
		display:none;
	}
	
	.footer-box-index-mobile{
		display:none;
	}
	
	/* ========================================================== */
	
	.session-info{
		width:50%;
		margin-top:13px;
		margin-right:20px;
	}
	
	.session-info .line-top{
		font-size:1.2em;
		line-height:1em;
	}
	
	.session-info .line-middle{
		font-size:1.6em;
		line-height:1em;
	}
	
	.session-info .line-bottom{
		font-size:1.3em;
		line-height:1em;
	}
	
	/* ========================================================== */
	
	.site-menu .option-left{
		font-size:1.2em;
		padding-left:30px;
		padding-right:30px;
	}
	
	.site-menu .divider-left{
		font-size:1.2em;
	}
	
	.site-menu .option-right{
		font-size:1.2em;
		padding-left:30px;
		padding-right:30px;
	}
	
	/* ========================================================== */
	
	.login-box{
		width:450px;
	}
	
	.login-box .line-content{
		margin-bottom:10px;	
	}
	
	.login-box .line-content .label-content{
		font-size:1em;
		line-height:1.1em;
		padding-bottom:3px;
	}
	
	.login-box .button-line{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.login-box .button-line .text-content{
		font-size:1em;
		line-height:1.1em;
	}
	
	.login-box #message-line{
		height:60px;
	}
	
	#validating-content{
		margin-top:20px;
	}
	
	#no-user-content{
		margin-top:20px;
	}
	
	#error-content{
		margin-top:20px;
	}
	
	#validating-content .icon-div{
		font-size:1.5em;
		line-height:1.1em;
		margin-right:5px;
	}
	
	#validating-content .text-div{
		padding-top:2px;
		font-size:1.3em;
		line-height:1.1em;
	}
	
	#no-user-content .icon-div{
		font-size:1.5em;
		line-height:1.1em;
		margin-right:8px;
	}
	
	#no-user-content .text-div{
		padding-top:2px;
		font-size:1.3em;
		line-height:1.1em;
	}
	
	#error-content .icon-div{
		font-size:1.4em;
		line-height:1.1em;
		margin-right:8px;
	}
	
	#error-content .text-div{
		padding-top:2px;
		font-size:1.1em;
		line-height:1.1em;
	}
	
	/* ========================================================== */
	
	.no-publications-page{
		padding:20px 0 40px 0;
	}
	
	.no-publications-page .icon-div{
		width:50px;
		margin-right:15px;
	}
	
	.no-publications-page .text-div{
		padding:3px 0 0 0;
		font-size:1.6em;
	}
	
	.publication-preview-box{
		margin-bottom:20px;
	}
	
	.publication-preview-box .upper-content{
		font-size:1.2em;
	}
	
	.publication-preview-box .upper-content .date-content{
		padding-left:10px;
	}
	
	.publication-preview-box .upper-content .option-content{
		padding-left:10px;
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content .icon-content{
		width:20px;
		margin-right:1px;
	}
	
	.publication-preview-box .upper-content .options-result-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-error-content{
		padding-right:10px;
	}
	
	.publication-preview-box .post-content{
		padding:15px 20px 10px 20px;
	}
	
	.publication-preview-box .post-content .title-content{
		font-size:1.9em;
		line-height:1em;
	}
	
	.publication-preview-box .post-content .subtitle-content{
		font-size:1.4em;
		line-height:1em;
		padding:5px 0 0 0;
	}
	
	.publication-preview-box .post-content .extract-content{
		font-size:1.4em;
		line-height:1em;
		padding:5px 0 0 0;	
	}
	
	/* ========================================================== */
	
	.login-textbox{
		padding-top:2px;
		padding-bottom:2px;
	}
	
	.form-textbox{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.form-textarea{
		padding-top:10px;
		padding-bottom:10px;
	}
	
}

@media only screen and (min-width: 59.375em) { /* min-width 950px, large screens [LAPTOP/PC] */
	
	.header-box .upper-content .logo-left{
		width:130px;
		margin:10px 20px 20px 20px;
		/*background-color:#FFF819;*/
	}
	
	.header-box .upper-content .logo-right{
		width:220px;
		margin-right:20px;
		margin-bottom:10px;
	}
	
	/* ========================================================== */
	
	.footer-box{
		padding-top:10px;
		padding-bottom:10px;
	}
	
	.footer-box .texto{
		font-size:1em;
		line-height:1.1em;
		padding:20px 0;
	}
	
	.footer-box .logo-left{
		width:190px;
		margin:10px 20px;
	}
	
	.footer-box .options-content{
		width:70%;
		margin-top:20px;
		margin-right:20px;
	}
	
	.footer-box .options-content .option-right{
		font-size:1.8em;
		padding-left:30px;
		padding-right:30px;
	}
	
	.footer-box .options-content .divider-right{
		font-size:1.2em;
	}
	
	/* ========================================================== */
	
	.session-info{
		width:50%;
		margin-top:13px;
		margin-right:20px;
	}
	
	.session-info .line-top{
		font-size:1.3em;
		line-height:1em;
	}
	
	.session-info .line-middle{
		font-size:1.6em;
		line-height:1em;
	}
	
	.session-info .line-bottom{
		font-size:1.4em;
		line-height:1em;
	}
	
	/* ========================================================== */
	
	.site-menu .option-left{
		font-size:1.2em;
		padding-left:30px;
		padding-right:30px;
	}
	
	.site-menu .divider-left{
		font-size:1.2em;
	}
	
	.site-menu .option-right{
		font-size:1.2em;
		padding-left:30px;
		padding-right:30px;
	}
	
	/* ========================================================== */
	
	.login-box{
		width:450px;
	}
	
	.login-box .line-content{
		margin-bottom:10px;	
	}
	
	.login-box .line-content .label-content{
		font-size:1em;
		line-height:1.1em;
		padding-bottom:3px;
	}
	
	.login-box .button-line{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.login-box .button-line .text-content{
		font-size:1em;
		line-height:1.1em;
	}
	
	.login-box #message-line{
		height:60px;
	}
	
	#validating-content{
		margin-top:20px;
	}
	
	#no-user-content{
		margin-top:20px;
	}
	
	#error-content{
		margin-top:20px;
	}
	
	#validating-content .icon-div{
		font-size:1.5em;
		line-height:1.1em;
		margin-right:5px;
	}
	
	#validating-content .text-div{
		padding-top:2px;
		font-size:1.3em;
		line-height:1.1em;
	}
	
	#no-user-content .icon-div{
		font-size:1.5em;
		line-height:1.1em;
		margin-right:8px;
	}
	
	#no-user-content .text-div{
		padding-top:2px;
		font-size:1.3em;
		line-height:1.1em;
	}
	
	#error-content .icon-div{
		font-size:1.4em;
		line-height:1.1em;
		margin-right:8px;
	}
	
	#error-content .text-div{
		padding-top:2px;
		font-size:1.1em;
		line-height:1.1em;
	}
	
	/* ========================================================== */
	
	.no-publications-page{
		padding:20px 0 40px 0;
	}
	
	.no-publications-page .icon-div{
		width:50px;
		margin-right:15px;
	}
	
	.no-publications-page .text-div{
		padding:3px 0 0 0;
		font-size:1.6em;
	}
	
	.publication-preview-box{
		margin-bottom:20px;
	}
	
	.publication-preview-box .upper-content{
		font-size:1.2em;
	}
	
	.publication-preview-box .upper-content .date-content{
		padding-left:10px;
	}
	
	.publication-preview-box .upper-content .option-content{
		padding-left:10px;
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-message-content .icon-content{
		width:20px;
		margin-right:1px;
	}
	
	.publication-preview-box .upper-content .options-result-content{
		padding-right:10px;
	}
	
	.publication-preview-box .upper-content .options-error-content{
		padding-right:10px;
	}
	
	.publication-preview-box .post-content{
		padding:15px 20px 10px 20px;
	}
	
	.publication-preview-box .post-content .title-content{
		font-size:2.1em;
		line-height:1em;
	}
	
	.publication-preview-box .post-content .subtitle-content{
		font-size:1.6em;
		line-height:1em;
		padding:8px 0 0 0;
	}
	
	.publication-preview-box .post-content .extract-content{
		font-size:1.6em;
		line-height:1em;
		padding:5px 0 8px 0;	
	}
	
	/* ========================================================== */
	
	.login-textbox{
		padding-top:2px;
		padding-bottom:2px;
	}
	
	.form-textbox{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.form-select{
		height:31px;
	}
	
	.form-textarea{
		padding-top:10px;
		padding-bottom:10px;
	}

}




