.paginacion-ul{
	color:#c6c6c6;	
	display:inline-block;
}

.paginacion-li{
	display:inline-block;
	padding:0 10px;
}

.paginacion-li .link-red{
	color:#9a302b; 
	/*text-decoration:underline;*/
}

.paginacion-li .link-grey{
	color:#c6c6c6; 
	/*text-decoration:underline;*/
}

.paginacion-li .page-selected{
	color:#9a302b; 
}

#repaginacion-box{
	display:none;
}

#repaginacion-box a{
	color:#671a18;
	text-decoration:underline;	
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
	.paginacion-li{
		font-size:1em;
	}
	
	.paginacion-li .page-selected{
		font-size:1.1em
	}
	
	#repaginacion-box a{
		font-size:0.9em;	
	}
}

@media only screen and (min-width:400px) and (max-width: 640px) {
	.paginacion-li{
		font-size:1em;
	}
	
	.paginacion-li .page-selected{
		font-size:1.1em
	}
	
	#repaginacion-box a{
		font-size:0.9em;	
	}
}

@media only screen and (min-width: 40.063em) { /* min-width 641px, medium screens [TABLETS] */
	.paginacion-li{
		font-size:1.2em;
	}
	
	.paginacion-li .page-selected{
		font-size:1.4em
	}
	
	#repaginacion-box a{
		font-size:1em;	
	}
}

@media only screen and (min-width: 59.375em) { /* min-width 950px, large screens [LAPTOP/PC] */
	.paginacion-li{
		font-size:1.3em;
	}
	
	.paginacion-li .page-selected{
		font-size:1.5em
	}
	
	#repaginacion-box a{
		font-size:1em;	
	}
}


